{% macro page(data, url) -%}
    {% if data %}
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="{{ url_for(url, page=1) }}?key={{ data.key }}">首页</a></li>


            {% if data.has_prev %}
                <li><a href="{{ url_for(url, page=data.prev_num) }}?key={{ data.key }}">上一页</a></li>
            {% else %}
                <li class="disabled"><a href="#">上一页</a></li>
            {% endif %}


            {% for foo in data.iter_pages() %}
                {% if foo %}
                    {% if foo == data.page %}
                        <li class="active"><a href="#">{{ foo }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for(url, page=foo) }}?key={{ data.key }}">{{ foo }}</a></li>
                    {% endif %}
                {% else %}
                    <span class=ellipsis></span>
                {% endif %}
            {% endfor %}

            {% if data.has_next %}
                <li><a href="{{ url_for(url, page=data.next_num) }}?key={{ data.key }}">下一页</a></li>
            {% else %}
                <li class="disabled"><a href="#">下一页</a></li>
            {% endif %}


            <li><a href="{{ url_for(url, page=data.page) }}?key={{ data.key }}">尾页</a></li>
        </ul>
    {% endif %}
{%- endmacro %}
