{% extends 'admin/admin.html' %}
{% import 'ui/search_page.html' as pages %}

{% block content %}
    <!--内容-->
        <section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 电影管理</a></li>
                <li class="active">电影列表</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">电影列表</h3>
                            <div class="box-tools">
                                <form role="search">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" class="form-control pull-right" placeholder="请输入关键字..."
                                           id="keyword">
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" id="do_search"><span
                                                class="glyphicon glyphicon-search"></span></a>
                                    </span>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                        {% for message in get_flashed_messages(category_filter=["ok"]) %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                <h4><i class="icon fa fa-check"></i>操作成功</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in get_flashed_messages(category_filter=["error"]) %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                <h4><i class="icon fa fa-ban"></i>操作失败</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                        <ol class="breadcrumb" style="margin-top:6px;">
                            <li>与"{{ key }}"有关的搜索结果，共有{{ key_num }}个</li>
                        </ol>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>编号</th>
                                    <th>片名</th>
                                    <th>片长</th>
                                    <th>标签</th>
                                    <th>地区</th>
                                    <th>豆瓣评分</th>
                                    <th>播放数量</th>
                                    <th>评论数量</th>
                                    <th>上映时间</th>
                                    <th>操作事项</th>
                                </tr>
                                {% for foo in page_data.items %}
                                <tr>
                                    <td>{{ foo.id }}</td>
                                    <td>{{ foo.title }}</td>
                                    <td>{{ foo.length }}</td>
                                    <td>{{ foo.tag.title }}</td>
                                    <td>{{ foo.area }}</td>
                                    <td>{{ foo.star/10 }}</td>
                                    <td>{{ foo.playnum }}</td>
                                    <td>{{ foo.commentnum }}</td>
                                    <td>{{ foo.release_time }}</td>
                                    <td>
                                        <a href="{{ url_for('admin.movie_edit', id=foo.id) }}" class="label label-success">编辑</a>
                                        &nbsp;
                                        <a href="{{ url_for('admin.movie_delete', id=foo.id) }}" class="label label-danger">删除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            {{ pages.page(page_data, 'admin.movie_list_search') }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function () {
        $("#g-3").addClass('active');
        $("#g-3-2").addClass('active');
    });
    </script>
    <script>
    $(document).ready(function () {
        $("#do_search").click(function () {
            var key = $("#keyword").val();
            location.href = "{{ url_for('admin.movie_list_search', page=1) }}?key=" + key;
        });
    });
    </script>
{% endblock %}